<div class="backdrop">
    <div class="auth-modal-container modal-container">
      <form action="#" name="user-auth" class="auth-form">
        <fieldset class="auth-form-inputs">
          <label> Email
            <input class="email" type="email" name="user-email" placeholder="Enter email">
          </label>
          <label> Password
            <input class="password" type="text" name="user-password" placeholder="Enter password">
          </label>
        </fieldset>
        <div class="auth-form-buttons">
          <button type="submit" class="modal-button">Submit</button>
          <button id="auth-cancel" type="button" class="modal-button">Cancel</button>
        </div>
    
      </form>
    </div>
</div>