<footer class="section footer">
  <div class="container">
    <nav aria-label="pagination" class="footer-nav">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" tabindex="-1">&#8592;</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" data-page="3" href="#">3</a></li>
        <li class="page-item"><a class="page-link" data-page="4" href="#">4</a></li>
        <li class="page-item"><a class="page-link" data-page="4" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item">
          <a class="page-link" href="#">&#8594;</a>
        </li>
      </ul>
    </nav>
    <div class="footer-lisense">
      <p class="lisense-common lisence">© 2020 | All Rights Reserved |</p>
      <p class="lisense-common">
        Developed with &#129505;by <a class="lisense-common lisense-link" href="">IT &#128571;Cats</a>
      </p>
    </div>
  </div>
</footer>

<!-- <div class="pagination">
  <input id="dot-1" type="radio" name="dots" />
  <label for="dot-1"></label>
  <input id="dot-2" type="radio" name="dots" />
  <label for="dot-2"></label>
  <input id="dot-3" type="radio" name="dots" checked="checked" />
  <label for="dot-3"></label>
  <input id="dot-4" type="radio" name="dots" />
  <label for="dot-4"></label>

  <input id="dot-5" type="radio" name="dots" />
  <label for="dot-5"></label>

  <input id="dot-6" type="radio" name="dots" />
  <label for="dot-6"></label>

  <input id="dot-7" type="radio" name="dots" />
  <label for="dot-7"></label>
  <input id="dot-8" type="radio" name="dots" />
  <label for="dot-8"></label>
  <div class="pacman"></div>
</div> -->
