<footer class="section footer">
  <div class="container">
    <nav aria-label="pagination" class="footer-nav" id="pagination">
      <!-- <ul class="pagination"> -->
      <!-- <li class="page-item">...</÷li> -->
      <!-- <li class="page-item"><a class="page-link" href="#" data-navigation="1">1</a></li> -->
      <!-- <li class="page-item active" aria-current="page" data-navigation="2">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" data-page="3" href="#" data-navigation="3">3</a></li>
        <li class="page-item"><a class="page-link" data-page="4" href="#" data-navigation="4">4</a></li>
        <li class="page-item"><a class="page-link" data-page="4" href="#" data-navigation="5">5</a></li>
        <li class="page-item"><a class="page-link" href="#" data-navigation="6">6</a></li>
        <li class="page-item">
          <a class="page-link" href="#" data-navigation="arrow">&#8594;</a>
        </li> -->
      <!-- </ul> -->
    </nav>
    <div class="footer-lisense">
      <p class="lisense-common lisence">© 2020 | All Rights Reserved |</p>
      <p class="lisense-common">
        Developed with &#129505;by <a class="lisense-common lisense-link" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">IT &#128571;Cats</a>
      </p>
    </div>
  </div>
</footer>
