<section class="section gallery">
  <div class="container">
    <ul class="gallery-list">

      <li class="gallery-card-item">
        <picture class="gallery-card-picture">
          <source srcset="./images/Rectangle.jpg" type="image/jpg">
          <img class="gallery-card-img" src="./images/Rectangle.jpg" alt="обложка фильма">
        </picture>
        <div class="gallery-card-info">
          <h2 class="gallery-card-title">GREYHOUND</h2>
          <p class="gallery-card-descr">
            <span class="gallery-card-descr__genre">Drama, Action</span> |
            <span class="gallery-card-descr__year">2020</span>
            <span class="gallery-card-descr__rating" hidden>7.1</span>
          </p>
        </div>
      </li>

      <li class="gallery-card-item">
        <picture class="gallery-card-picture">
          <source srcset="./images/Rectangle2.jpg" type="image/jpg">
          <img class="gallery-card-img" src="./images/Rectangle2.jpg" alt="обложка фильма">
        </picture>
        <div class="gallery-card-info">
          <h2 class="gallery-card-title">GREYHOUND</h2>
          <p class="gallery-card-descr">
            <span class="gallery-card-descr__genre">Drama, Action</span> |
            <span class="gallery-card-descr__year">2020</span>
            <span class="gallery-card-descr__rating" hidden>7.1</span>
          </p>
        </div>
      </li>

      <li class="gallery-card-item">
        <picture class="gallery-card-picture">
          <source srcset="./images/Rectangle.jpg" type="image/jpg">
          <img class="gallery-card-img" src="./images/Rectangle.jpg" alt="обложка фильма">
        </picture>
        <div class="gallery-card-info">
          <h2 class="gallery-card-title">GREYHOUND</h2>
          <p class="gallery-card-descr">
            <span class="gallery-card-descr__genre">Drama, Action</span> |
            <span class="gallery-card-descr__year">2020</span>
            <span class="gallery-card-descr__rating" hidden>7.1</span>
          </p>
        </div>
      </li>

      <li class="gallery-card-item">
        <picture class="gallery-card-picture">
          <source srcset="./images/Rectangle.jpg" type="image/jpg">
          <img class="gallery-card-img" src="./images/Rectangle.jpg" alt="обложка фильма">
        </picture>
        <div class="gallery-card-info">
          <h2 class="gallery-card-title">GREYHOUND</h2>
          <p class="gallery-card-descr">
            <span class="gallery-card-descr__genre">Drama, Action</span> |
            <span class="gallery-card-descr__year">2020</span>
            <span class="gallery-card-descr__rating" hidden>7.1</span>
          </p>
        </div>
      </li>
     
    </ul>
  </div>
</section>