<header class="section header">
  <div class="container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html" aria-label="логотип сайта" lang="en">
        <svg class="header-logo-icon" width="24" height="24">
          <use href="./images/icons/sprite.svg#icon-film"></use>
        </svg>
        Filmoteka
      </a>

      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="./index.html" class="current link">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a href="./library.html" class="link">My library</a>
        </li>
      </ul>
    </nav>

    <div class="search">
     <input
      class="search-input"
      type="text"
      name="message"
      placeholder="Поиск фильмов"
     >
     <svg class="search-icon">
       <use href="./images/icons/sprite.svg#icon-search"></use>
     </svg>
    </div>

    <p class="search-error">
      Search result not successful. Enter the correct movie name
    </p>
  </div>
</header>
