<header class="section header library">
  <div class="container">
    <nav class="header-nav">
      <a class="header-nav-logo library" href="./index.html" aria-label="логотип сайта" lang="en">
        <svg class="header-nav-logo-icon" width="24" height="24">
          <use href="./images/icons/sprite.svg#icon-film"></use>
        </svg>
        <span class="header-nav-logo-text">Filmoteka</span>
      </a>

      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="./index.html" class="header-nav-list-link">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a href="./library.html" class="current header-nav-list-link">My library</a>
        </li>
      </ul>
    </nav>

    <div class="btn-container">
      <button id="watched" type="button" class="btn btn-watched">Watched</button>
      <button id="queue" type="button" class="btn btn-queue">Queue</button>
    </div>
  </div>
</header>