<div class="section" >
  <div class="backdrop is-hidden" id="modal-auth">
    <div class="auth-modal-container modal-container container">
      <form action="#" name="user-auth" class="auth-form">
        <h2 class='auth-form-header'>LOGIN FORM</h2>
        <p>Please, fill following fields to access your Library</p>
        <fieldset class="auth-form-inputs">
          <label class="label"> Email
            <input type="email" name="user-email" placeholder="Enter email" value="19tomat@gmail.com" class="input" >
          </label>
          <label class="label"> Password
            <input  type="text" name="user-password" placeholder="Enter password" value="123456" class="input">
          </label>
        </fieldset>
        <div class="auth-form-buttons">
          <button type="submit" class="modal-button">Submit</button>
          <button id="auth-cancel" type="button" class="modal-button">Cancel</button>
        </div>
  
      </form>
    </div>
  </div>
</div>