<div class="splide">
  <div class="splide__track">
    <ul class="splide__list"></ul>
    <div class="splide__progress">
      <div class="splide__progress__bar"></div>
    </div>
  </div>
</div>
<!-- <div class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide"><img src="https://picsum.photos/1300/900/?random" class="slider" /></li>
      <li class="splide__slide"><img src="https://picsum.photos/1300/600/?random" class="slider" /></li>
      <li class="splide__slide"><img src="https://picsum.photos/1300/600/?random" class="slider" /></li>
      <li class="splide__slide"><img src="https://picsum.photos/1300/600/?random" class="slider" /></li>
      <li class="splide__slide"><img src="https://picsum.photos/1300/100/?random" class="slider" /></li>
      <li class="splide__slide"><img src="https://picsum.photos/1300/600/?random" class="slider" /></li>
      <li class="splide__slide"><img src="https://picsum.photos/1300/600/?random" class="slider" /></li>
      <li class="splide__slide"><img src="https://picsum.photos/1300/600/?random" class="slider" /></li>
      <li class="splide__slide"><img src="https://picsum.photos/500/600/?random" class="slider" /></li>
      <li class="splide__slide"><img src="https://picsum.photos/1300/600/?random" class="slider" /></li>
    </ul>
  </div>

  <div class="splide__progress">
    <div class="splide__progress__bar"></div>
  </div>
</div> -->
