<section class="section team">
  <a href="#" class="open-modal">developers</a>

  <div class="backdrop is-hidden" data-modal>
    <div class="container modal">
      <button class="close-modal">X</button>
      <ul class="team-list">
        <li class="team-list-card">
          <div class="front">
            <picture>
              <img src="./images/cats/0sobIENCwtJVkvaYv03NfwG9rBO-tsqRmVYtPjsxh4JL-rdnK3xg8iUeeAdB-qxCHobYcDOK.jpg"
                alt="котан" class="cat-img">
            </picture>
          </div>
          <div class="back">
            <picture>
              <img src="./images/team/Rostyslav.jpeg" alt="Rostyslav Bordyuh" class="team-photo">
            </picture>
          </div>
          <div class="under-card">
            <h3 class="card-title">Rostyslav Bordyuh</h3>
            <p class="card-text">Frontend Developer</p>
          </div>
        </li>
        <li class="team-list-card">
          <div class="front">
            <picture>
              <img src="./images/cats/Alina-cat.jpg" alt="котан" class="cat-img">
            </picture>
          </div>
          <div class="back">
            <picture>
              <img src="./images/team/Alina.jpg" alt="Alina Kotsiubynska" class="team-photo">
            </picture>
          </div>
          <div class="under-card">
            <h3 class="card-title">Alina Kotsiubynska</h3>
            <p class="card-text">Frontend Developer</p>
          </div>
        </li>
        <li class="team-list-card">
          <div class="front">
            <picture class="card-picture">
              <img src="./images/cats/1617920047_23-p-sereznii-kot-mem-24.jpg" alt="котан" class="cat-img">
            </picture>
          </div>
          <div class="back">
            <picture class="card-picture">
              <img src="#" alt="Serhii Tomaskevich" class="team-photo">
            </picture>
          </div>
          <div class="under-card">
            <h3 class="card-title">Serhii Tomaskevich</h3>
            <p class="card-text">Frontend Developer</p>
          </div>
        </li>
        <li class="team-list-card">
          <div class="front">
            <picture class="card-picture">
              <img src="./images/cats/Alla-cat.jpg" alt="котан" class="cat-img">
            </picture>
          </div>
          <div class="back">
            <picture class="card-picture">
              <img src="./images/team/Alla.jpg" alt="Alla Andronova" class="team-photo">
            </picture>
          </div>
          <div class="under-card">
            <h3 class="card-title">Alla Andronova</h3>
            <p class="card-text">Frontend Developer</p>
          </div>
        </li>
        <li class="team-list-card">
          <div class="front">
            <picture class="card-picture">
              <img src="./images/cats/serditka1.jpg" alt="котан" class="cat-img">
            </picture>
          </div>
          <div class="back">
            <picture class="card-picture">
              <img src="#" alt="Svetlana" class="team-photo">
            </picture>
          </div>
          <div class="under-card">
            <h3 class="card-title">Svetlana</h3>
            <p class="card-text">Frontend Developer</p>
          </div>
        </li>
        <li class="team-list-card">
          <div class="front">
            <picture class="card-picture">
              <img src="./images/cats/Julia-cat.jpg" alt="котан" class="cat-img">
            </picture>
          </div>
          <div class="back">
            <picture class="card-picture">
              <img src="./images/team/Julia.jpg" alt="Svetlana" class="team-photo">
            </picture>
          </div>
          <div class="under-card">
            <h3 class="card-title">Юлия Куцын</h3>
            <p class="card-text">Frontend Developer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
</section>