<section class="section team">
  <div class="container">
    <ul class="team-list">
      <li class="team-list-card">
        <div class="front">
          <picture class="card-picture">
            <img src="./images/0sobIENCwtJVkvaYv03NfwG9rBO-tsqRmVYtPjsxh4JL-rdnK3xg8iUeeAdB-qxCHobYcDOK.jpg" alt="котан" class="cat-img">
          </picture>
        </div>
        <div class="back">
          <span>Опа, переворот!&#128572;</span>
          <div>
            <h3 class="card-title">Rostyslav Bordyuh</h3>
            <p class="card-text">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="team-list-card">
        <div class="front">
          <picture class="card-picture">
            <img src="./images/kotiki.jpg" alt="котан" class="cat-img">
          </picture>
          
        </div>
        <div class="back">
          <span>Опа, переворот!&#128571;</span>
          <div>
            <h3 class="card-title">Alina Kotsiubynska</h3>
            <p class="card-text">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="team-list-card">
        <div class="front">
          <picture class="card-picture">
            <img src="./images/1617920047_23-p-sereznii-kot-mem-24.jpg" alt="котан" class="cat-img">
          </picture>
          
        </div>
        <div class="back">
          <span>Опа, переворот!&#128569;</span>
          <div>
            <h3 class="card-title">Serhii Tomaskevich</h3>
            <p class="card-text">Frontend Developer</p>
          </div>
        </div>
      </li>
      <li class="team-list-card">
        <div class="front">
          <picture class="card-picture">
              <img src="./images/1617957765_55-p-smeshnoi-belii-kot-59.jpg" alt="котан" class="cat-img">
          </picture>
        
        </div>
        <div class="back">
          <span>Опа, переворот!&#128576;</span>
            <div>
              <h3 class="card-title">Alla Andronova</h3>
              <p class="card-text">Frontend Developer</p>
            </div>
        </div>
      </li>
      <li class="team-list-card">
        <div class="front">
          <picture class="card-picture">
              <img src="./images/serditka1.jpg" alt="котан" class="cat-img">
          </picture>
        
        </div>
        <div class="back">
          <span>Опа, переворот!&#128573;</span>
            <div>
              <h3 class="card-title">Svetlana</h3>
              <p class="card-text">Frontend Developer</p>
            </div>
        </div>
      </li>
      <li class="team-list-card">
        <div class="front">
          <picture class="card-picture">
              <img src="./images/5e59f006ceb86cec7ff15fede13b5f92.jpg" alt="котан" class="cat-img">
          </picture>
         
        </div>
        <div class="back">
          <span>Опа, переворот!&#128570;</span>
          <div>
            <h3 class="card-title">Юлия Куцын</h3>
            <p class="card-text">Frontend Developer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>