// @import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

$pagination-color: black;
$pagination-hover-color: white;
$pagination-hover-bg: #ff6b08;
$pagination-active-bg: #ff6b08;
$pagination-border-color: transparent;
$pagination-hover-border-color: transparent;

// 3. Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/pagination';

.page-item .page-link {
  border-radius: 5px;
}
.page-item:last-child .page-link:hover {
  color: white;
  background-color: #ff6b08;
}
.page-item:first-child .page-link:hover {
  color: white;
  background-color: #ff6b08;
}
.page-item:last-child .page-link {
  background-color: #f7f7f7;
  color: black;
}
.page-item:first-child .page-link {
  background-color: #f7f7f7;
  color: black;
}

.footer {
  padding-bottom: 30px;
}

.footer-nav {
  display: flex;
  justify-content: center;

  margin-bottom: 69px;
}

.lisence {
  margin-bottom: 25px;
}

.lisense-common {
  text-align: center;

  font-size: 14px;
  line-height: 1.142px;
  color: rgba(84, 84, 84, 1);
}

.lisense-link {
  border-bottom: 2px solid #ff6b08;
}

@media screen and (min-width: 768px) {
  .footer-lisense {
    display: flex;
    justify-content: center;
  }
  .lisence {
    margin: 0px;
  }
  .lisense-common {
    font-size: 16px;
    line-height: 1.187px;
  }
}

// body {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   background: black;
// }

// .pagination {
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   --ddim: 10px;
//   --rd: 15px;
//   --rdim: calc(var(--rd) * 2);
//   --pm: #ffff03;
// }

// label {
//   content: '';
//   margin: 0 10px;
//   height: var(--ddim);
//   width: var(--ddim);
//   background: #f7b997;
//   cursor: pointer;
// }

// label:first-child {
//   margin-left: 0;
// }
// label:last-child {
//   margin-right: 0;
// }
// input {
//   display: none;
// }

// .pacman {
//   content: '';
//   position: absolute;
//   top: calc(-1 * var(--ddim));
//   left: calc(-1 * var(--ddim) / 2);
//   height: var(--rdim);
//   width: var(--rdim);
//   transition: transform 250ms linear;
// }

// .pacman:before,
// .pacman:after {
//   content: '';
//   position: absolute;
//   height: var(--rd);
//   width: var(--rdim);
//   left: 0;
//   background: var(--pm);
//   transition: inherit;
// }

// .pacman:before {
//   top: 0;
//   border-top-left-radius: var(--rdim);
//   border-top-right-radius: var(--rdim);
//   transform-origin: bottom center;
//   transform: rotate(-45deg);
// }

// .pacman:after {
//   bottom: 0;
//   border-bottom-left-radius: var(--rdim);
//   border-bottom-right-radius: var(--rdim);
//   transform-origin: top center;
//   transform: rotate(45deg);
// }

// @keyframes waka {
//   0% {
//   }
//   50% {
//     transform: rotate(0);
//   }
//   100% {
//   }
// }

// input[type='radio']:hover ~ .pacman:before,
// input[type='radio']:hover ~ .pacman:after {
//   animation: waka 500ms infinite;
// }

// input[id='dot-1']:checked ~ .pacman {
//   transform: translateX(var(--ddim));
// }
// input[id='dot-2']:checked ~ .pacman {
//   transform: translateX(calc(var(--ddim) + var(--rdim)));
// }
// input[id='dot-3']:checked ~ .pacman {
//   transform: translateX(calc(var(--ddim) + var(--rdim) * 2));
// }
// input[id='dot-4']:checked ~ .pacman {
//   transform: translateX(calc(var(--ddim) + var(--rdim) * 3));
// }
// input[id='dot-5']:checked ~ .pacman {
//   transform: translateX(calc(var(--ddim) + var(--rdim) * 4));
// }
// input[id='dot-6']:checked ~ .pacman {
//   transform: translateX(calc(var(--ddim) + var(--rdim) * 5));
// }
// input[id='dot-7']:checked ~ .pacman {
//   transform: translateX(calc(var(--ddim) + var(--rdim) * 6));
// }
// input[id='dot-8']:checked ~ .pacman {
//   transform: translateX(calc(var(--ddim) + var(--rdim) * 7));
// }
