.gallery-list {
  padding-top: 20px;
  padding-bottom: 40px;
  display: grid;
  gap: 20px;
}
.gallery-card-picture {
  display: block;
  border-radius: 5px;
  overflow: hidden;
}
.gallery-card-img {
  width: 100%;
  height: auto;
}
.gallery-card-info {
  padding: 10px 0 0 1px;
}
.gallery-card-title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
}
.gallery-card-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ff6b08;
  &__rating {
    margin-left: 10px;
    padding: 1px 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    background-color: #ff6b08;
    border-radius: 5px;
  }
}
.gallery-card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .gallery-list {
    padding-top: 60px;
    padding-bottom: 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
