.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #ffffff;

  min-width: 280px;
  min-height: 958px;
  padding: 48px 20px;
}

.modal-img {
  height: auto;
}

.modal-image-wrapper {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .modal-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    width: 618px;
    min-height: 562px;
    padding: 42px 28px;
  }

  .modal-image-wrapper {
    width: 100%;
    height: auto;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-container {
    width: 882px;
    padding: 50px 30px 40px;
  }

  .modal-description-categories {
    margin-right: 85px;
  }

  .modal-description-title {
    font-size: 30px;
  }
}

.modal-description-list {
  margin-bottom: 20px;
}

.modal-description-item {
  display: flex;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal-description-title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
}

.modal-description-categories {
  width: 70px;
  margin-right: 28px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #8c8c8c;
}

.modal-description-value {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #000000;
}

.modal-description-about {
  display: block;
  margin-bottom: 10px;

  text-transform: uppercase;
  font-size: 12px;
}

.modal-description-text {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.modal-button {
  width: 112px;
  display: block;

  border-radius: 5px;
  border: 1px solid #000000;
  background-color: transparent;

  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    border: none;
    background-color: #ff6b01;
    color: #ffffff;
  }
}

.btn-add-watch {
  margin-right: 10px;
  padding: 3px 8px;
}

.btn-add-queue {
  padding: 14px 8px;
}

.modal-button-container {
  display: flex;
}

.modal-span {
  display: inline-block;
  width: 25px;
  text-align: center;
  background-color: #ff6b01;
  border-radius: 3px;
}

.modal-btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;

  // background-color: black;
  border: none;
  cursor: pointer;
}

// .modal-icon {
//   fill: black;
// }
