.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-container {
  position: relative;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // transform-origin: top left;

  background-color: #ffffff;

  min-width: 300px;
  min-height: 958px;
  padding: 48px 20px;
  margin: 1rem auto;
  // z-index: 9999999;
}

.modal-img {
  height: auto;
}

.modal-image-wrapper {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .modal-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    width: 700px;
    min-height: 562px;
    padding: 42px 28px;
    margin: 2rem auto;
  }

  .modal-image-wrapper {
    width: 100%;
    height: auto;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-container {
    width: 882px;
    padding: 50px 30px 40px;
  }

  .modal-description-categories {
    margin-right: 85px;
  }

  .modal-description-title {
    font-size: 30px;
  }
}

.modal-description-list {
  margin-bottom: 20px;
}

.modal-description-item {
  display: flex;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal-description-title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  text-transform: uppercase;
}

.modal-description-categories {
  width: 70px;
  margin-right: 28px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #8c8c8c;
}

.modal-description-value {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #000000;
}

.modal-description-about {
  display: block;
  margin-bottom: 10px;

  text-transform: uppercase;
  font-size: 12px;
}

.modal-description-text {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  &.unknown-user-message {
    margin-top: 20px;
    color: #8c8c8c;
  }
}

.modal-button {
  width: 112px;
  height: 44px;
  display: block;

  border-radius: 5px;
  border: 1px solid #000000;
  background-color: transparent;

  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: transparent;
    background-color: #ff6b01;
    color: #ffffff;
  }

  &:disabled {
    background-color: #ffffff;
    color: #0000003d;
    border: 1px solid #0000003d;
  }
}
.active-btn {
  border-color: transparent;
  background-color: #ff6b01;
  color: #ffffff;
}
.btn-add-watch {
  margin-right: 10px;
  // padding: 3px 8px;

  @media screen and (min-width: 768px) {
    margin-right: 25px;
  }
}

// .btn-add-queue {
//   padding: 14px 8px;
// }

.modal-button-container {
  display: flex;
}

.modal-span {
  display: inline-block;
  width: 25px;

  text-align: center;
  background-color: #ff6b01;
  color: #ffffff;
  border-radius: 3px;
}

.modal-btn-close {
  position: absolute;
  top: 7px;
  right: 4px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #fff;
  border: none;

  color: #000000;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    top: 12px;
    right: 10px;
  }
}

.modal-icon {
  width: 70px;
  height: 70px;
}

.modal-trailer {
  position: absolute;
  top: 166px;
  z-index: 1070;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  display: none;

  border: none;
  font-size: 13px;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    top: 196px;
    right: 2px;
  }

  @media screen and (min-width: 1024px) {
    top: 244px;
    right: -8px;
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1060;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-pictures:hover .modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-trailer:hover .modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-image-wrapper:hover .modal-trailer {
  display: block;
}

.modal-pictures {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.icon-play {
  fill: red;

  @media screen and (min-width: 1024px) {
    width: 100px;
    height: 100px;
  }

  &:hover .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
