body.light-theme {
  background-color: #fff;
}

body.dark-theme {
  background-color: #333333;

  & .gallery-card-title {
    color: rgba(213, 213, 213, 0.824);
  }
}
.theme-switch {
  position: static;
  // margin-left: 30px;
}

.theme-switch__control {
  width: 36px;
  height: 18px;
}

.theme-switch__marker {
  width: 15px;
  height: 15px;
  z-index: 0;
}
.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(18px);
}

.theme-switch__track {
  z-index: 0;
}
